
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-43DGRV2PF8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-43DGRV2PF8');
</script><meta charset="utf-8">
<title>プラカフェ岡崎 l 無料投資講座</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1680584563" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<link rel="icon" href="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6234399c6cc5f/original.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/ogp/1255342.png">
<meta property="og:url" content="http://puracafe-okazaki-1.hp.peraichi.com"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1680584563"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1680584563"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1680584800"></script></head>
  <body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 104px;">
        <div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-29" data-optional-block-settings-key="0">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/641b384e9fa20/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_navigation_fixed p-header-fixed pera1-section block" data-structure="b-header-fb-like-btn--fixed" data-block-name="左テキスト(2段)+ボタン（上部固定）" id="section-21" data-optional-block-settings-key="1">
  <div class="p-header">
    <div class="grid-wrapper grid-wrapper--lg">
      <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
        <div class="row middle-xs center-xs">
          <div class="col-xs-12 col-sm-10 start-xs">
            <div class="u-mbsm pera1-removable">
              
            </div>
            
          </div>
          <div class="col-xs-12 col-sm end-xs pera1-removable">
            <div class="c-btn c-btn--full"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLSfFlsa2r2XNIHKeF12SMbNTygsKu5lqrMr_aiH9inLtcNmQyA/viewform" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">『無料講座』ご予約はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-3" data-optional-block-settings-key="2">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4a5914c769/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-39" data-optional-block-settings-key="3">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416bad356faf/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-28" data-optional-block-settings-key="4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-4" data-optional-block-settings-key="5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/64256ae439c28/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" data-optional-block-settings-key="6" id="section-50">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/64256b06a7f2b/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-5" data-optional-block-settings-key="7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416c511a0a6d/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-48" data-optional-block-settings-key="8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLSfFlsa2r2XNIHKeF12SMbNTygsKu5lqrMr_aiH9inLtcNmQyA/viewform" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">日程確認・ご予約 はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" data-optional-block-settings-key="9" id="section-49">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-6" data-optional-block-settings-key="10">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416c5825cadc/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-40" data-optional-block-settings-key="11">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416c5fe16698/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-9" data-optional-block-settings-key="12">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416e78ba0b0e/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-34" data-optional-block-settings-key="13">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416e7a177226/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-35" data-optional-block-settings-key="14">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416e7b1871b2/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn" data-block-name="ボタン" id="section-46" data-optional-block-settings-key="15">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn u-fsxxl"><a class="pera1-editable" href="https://www.voice.puracafe.net/" data-structure="e-btn" target="_blank" style="background-color: rgb(244, 126, 0);">【会員さんの声】<br>  をもっと見る</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-43" data-optional-block-settings-key="16">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-7" data-optional-block-settings-key="17">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416ec24395b6/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-32" data-optional-block-settings-key="18">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4db1b4ffc0/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-24" data-optional-block-settings-key="19">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/64256b24b7a67/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-23" data-optional-block-settings-key="20">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416ec62702ac/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-44" data-optional-block-settings-key="21">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="20">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-25" data-optional-block-settings-key="22">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="21">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416c511a0a6d/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-47" data-optional-block-settings-key="23">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="22">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://docs.google.com/forms/d/e/1FAIpQLSfFlsa2r2XNIHKeF12SMbNTygsKu5lqrMr_aiH9inLtcNmQyA/viewform" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">『 無料講座 』ご予約はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-31" data-optional-block-settings-key="24">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="23">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-38" data-optional-block-settings-key="25">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="24">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63a828c91d89d/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-27" data-optional-block-settings-key="26">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="25">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-14" data-optional-block-settings-key="27">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="26">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/6416ee96e7a28/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="28">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="27">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">Copyright © 2023 プラカフェ株式会社 All Right Reserved.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  



























































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=29zwyTZPDgiBDdJ"></script>
</body></html>
